<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> The Cave </title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src='http://use.edgefonts.net/nosifer.js'></script>
      <style>
        #blood {
          font-family: nosifer;
          color: red;
        }
        img {
          height: 300px;
          width: 600px;
        }
      </style>
  </head>
  <body>

    <div id='top'>

      <h2> Weclome to Cave {{cave}} </h2>

      <div id='blood'>
      {% for content in contents %}
      {{content}}
      {% endfor %}
      <br>
      </div>

      <h3> There is a fork in the cave, do you go left or right? </h3>
      <img src="http://pre08.deviantart.net/ea9c/th/pre/f/2015/012/d/0/fork_in_the_cave_by_churg-d8dnknh.png" alt="" />

      <div class='buttons'>
        <form class="" action="/action" method="post">{%csrf_token%}
          <input type="hidden" name="direction" value="left">
          <input type="submit" name="name" value="Go Left!">
        </form>

        <form class="" action="/action" method="post">{%csrf_token%}
            <input type="hidden" name="direction" value="right">
          <input type="submit" name="name" value="Go Right!">
        </form>
      </div>

      <a href="/logout"> Quit </a>

    </div>

    <div id='bottom'>
      Your Gold: <input type="text" name="gold" value="{{gold}}">
      Your Health: <input type="text" name="gold" value="{{health}}">
    </div>

  </body>
</html>
