<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Index </title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>

    <div id="top">
      <h1> Highscores: </h1>
      <a href="/logout"> Logout </a>

      <table>
          <tr>
            <th> Alias </th>
            <th> highscore </th>
          </tr>
        {% for user in users %}
        <tr>
          <td>{{user.alias}}</td>
          <td>{{user.highscore}}</td>
        </tr>
        {% endfor %}
      </table>

      <a href="/enter"> Start the game </a>

    </div>

  </body>
</html>
